body {
    font-family: "lato";
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1 {
    font-size: 2rem;
    color: #6ecf73;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
    

.content-add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#btn-new-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    
}

#input-new-task {
    width: 14rem;
    border-radius: 1rem;
}

#btn-new-task {
    background-color: #192c18;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#btn-new-task:hover {
    background-color: #0e8814;
    transition: 1.2s;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#to-do-list li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    gap: 14rem;
    
}

#to-do-list li:hover{
    background-color: #192c18;
    transition: .4s;
    border-radius: 3rem;
    padding-left: 1rem;
}

#btn-ok{
    border: none;
    background-color: #0e8814;
    color: var(--color-white);
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#btn-ok:hover{
    background-color: #0e8814;
}

footer {
    display: flex;
    justify-content: center;
   margin-top: 20rem;
}